*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(../images/60.-Zircon.jpg);
    background-size: cover;
    font-size: 16px;
    line-height:32px;
    width:960px;
    margin-left:225px;
    margin:0 auto;
}

#pageHeader h1{
    text-align: center;
}

#contact ul{
    list-style: none;
}

.nav-tabs{
    float:right;
}

.container h1{
    margin-top: 100px;
    margin:0 auto;
    text-align: center;
}


.my-form{
    padding:20px;
}

.my-form .form-group{
    padding-bottom:15px;
}

.my-form label{
    display: block;
}

.my-form input[type="text"], .my-form textarea{
    padding;8px;
    width:100%;
}

.container{
    text-align: center;
}

/* if and when condition is true - whatever btwn {} it will be applied to page - these rules take effect when the browser's width is either 768px or less*/
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
     ... }

// Medium devices (tablets, 768px and up)
@media screen and (max-width: 768px) {
    body{
        background-color:#333;
    }
    .wrapper{
        width: 600px;
    }
}

// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
     ... }